
/* Changes for the code embedded in the table */
.wholeTable{
    border: 0;
    width: 85%;
}


body{
    background-image: url(img_gray.jpg);
    background-color: gray;
    font-size: 18px;
    font-family: sans-serif;

}

p{
    color:white;
    font-size:18px;
}

h1{
    text-decoration: underline;
    text-align: center;
}

a:hover{
    background-color: red; 
}

.one{
    border: 5px solid aqua;
}

table{
    background-image: url("img_gray.jpg");
    background-color:white;
    border-collapse: collapse;
    border-spacing: 10px 50px;
    margin-left: auto;
    margin-right: auto;
}

th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    padding: 20px;
    vertical-align: top;
}

/* Make the row to be zebra-striped */
tr:nth-child(even){
    background-color:gray;
}

/* Class to make specific div display side by side */
.inlineBlock{
    display: inline-block;
    margin: 10px;
    vertical-align: left;
}

/* Border for the inline objects */
.inlineBlock.border {
    border: 1px ridge white;
    padding: 10px;      
}

/* Quote divider */
#quote{
    padding-top: 8px;
    text-align: center;
}   

/* Text for the quote divider */
#quoteText {
    font-size: 26px;
    color: black;
}


.myLists{
    display: inline-block;
    font-size: 18px;
}

#profilePic{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    float: inherit;
}

#profileText{
    font-size: 28px;
    color: white;
}

table.center{
    margin-left: auto;
    margin-right: auto;
}

#Hobbies {
    vertical-align: text-top;
}

second {
    width: 100%;
}

float{
    float: left;
    margin-right: 50px;
}

div{
    clear: left;
}


/* Bold and color the text red for some specific words */
.boldWords{
    color: red;
    font-weight: bold;
}



